

<h1><%= @child.name %>'s Milestones</h1>
<br>


<h3>Hello, <%= @child.name %></h3>

<h4> Enter New Milestone(s)</h4>
<%= link_to "New", new_mother_child_milestone_path %>

<h5>You are X age today and you have achieved these milestones:</h5>

<div class="container">
  <div class="row">
        <!-- <div class="col">
          
        </div> -->
        <!-- <div class="col">
          
        </div> -->
        <div class="col">
         <h4><strong>I'm:</strong></h4>
        </div>
          <div class="col">
                      <!-- First Button -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" id ="first">0 to 1 Months</button>

          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <table class="table">
            <caption>List of users</caption>
            <thead>
              <tr>
                <th scope="col">Age Range</th>
                <th scope="col">Growth</th>
                <th scope="col">Social</th>
                <th scope="col">Communication</th>
                <th scope="col">Cognitive</th>
                <th scope="col">Vaccinations</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">0 to 1</th>
                <td>
                  <p>Average weight gain of 900 grams at the mean rate of 20-30 grams per day</p>
                  <p>Up to 5 cm increase in length</p>
                  <p>Around 15 inch growth of head circumference</p>
                  <p>Can stretch arms and legs and also bend back sometimes</p>
                  <p>Legs and feet continue to rotate inwards</p>
                  <p>Can lift head for a few seconds</p>
                  <p>Ready for supervised tummy time</p>
                </td>
                <td>
                  <p>Get comfort by sucking hands and toes</p>
                  <p>Smile when passing gas or urine, falling asleep or just feeling comfortable and satisfied after feed</p>
                  <p>May smile in response to parent</p>
                </td>
                <td>
                  <p>Startle at sudden loud sounds</p>
                  <p>May get familiar with the faces of parents</p>
                  <p>Keep staring at ceiling fans, other things at distance and people</p>
                  <p>May turn head in the direction of approaching sound</p>
                  <p>Become irritated and start crying to grab attention</p>
                </td>
                <td>
                  <p>Get comfort by sucking hands and toes</p>
                  <p>Smile when passing gas or urine, falling asleep or just feeling comfortable and satisfied after feed</p>
                  <p>May smile in response to parent</p>
                </td>
                <td>
                  <p>Hepatitis A</p>
                </td>
              </tr>
            </tbody>
          </table>
            </div>
           </div>
          </div>
          <!-- END OF FIRST BUTTON -->
        </div>
        <div class="col">
                <!-- 2nd Button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" id = "second">1 to 2 Months</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Age Range</th>
      <th scope="col">Growth</th>
      <th scope="col">Social</th>
      <th scope="col">Communication</th>
      <th scope="col">Cognitive</th>
      <th scope="col">Vaccinations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1-2</th>
      <td>
        <p>Can keep the head up for longer time when lying on tummy</p>
        <p>Makes gentle movements with arms and legs</p>
        <p>Stretches and kicks lying on back</p>
        <p>Opens and shut hands</p>
        <p>May grasp and shake toys</p>
      </td>
      <td>
        <p>Respond to people by smiling</p>
        <p>Can bring hands to mouth and suck properly</p>
        <p>Can soothe self</p>
      </td>
      <td>
        <p>Tries to chat with parent by making sounds of grunts, gurgle, and coos</p>
      </td>
      <td>
        <p>Turns head towards sound</p>
        <p>Begins to observe things closely</p>
        <p>Follow the moving things with eye movement from side to side</p>
        <p>Recognize parent’s and caregiver’s voice and face</p>
        <p>Act bored and cry if same activity is continued  for long time</p>
        <p>Pays attention to faces</p>
      </td>
      <td>
        <p>Hepatitis A</p>
        <p>RV</p>
        <p>DTaP</p>
        <p>HiB</p>
        <p>PCV</p>
        <p>IPV</p>
      </td>
    </tr>
  </tbody>
</table>
  </div>
 </div>
</div>
<!-- END OF 2nd BUTTON -->
        </div>
        <div class="col">
                <!-- 3rd Button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"> 2 to 3 Months</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Age Range</th>
      <th scope="col">Growth</th>
      <th scope="col">Social</th>
      <th scope="col">Communication</th>
      <th scope="col">Cognitive</th>
      <th scope="col">Vaccinations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2 to 3 </th>
      <td>
        <p>Stay awake for longer times</p>
        <p>Fewer bowel movements</p>
        Raises head and chest when lying on stomach
        <p>Can support upper body with arms during tummy time</p>
        <p>Stretches legs out and kicks when lying either on stomach or back</p>
        <p>Pushes down on legs when feet are touching a firm surface</p>
        <p>Bring hand to mouth</p>
        <p>Keep playing with hands</p>
        <p>Can grab and reach toys</p>
        <p>Can shake toys</p>
      </td>
      <td>
          <p>Smiles at familiar sounds and faces</p>
          <p>Enjoys playing with people</p>
          <p>More responsive to siblings and caregivers</p>
          <p>Recognizes known persons and things from a distance</p>
          <p>Observe faces constantly</p>
          <p>Demands more play with crying</p>
      </td>
      <td>
        <p>Make constant noises or babble</p>
        <p>Giggles at funny faces</p>
        <p>Begins to copy some sounds</p>
        <p>Turns head towards direction of sound</p>
      </td>
      <td>
        <p>Make constant noises or babble</p>
        <p>Giggles at funny faces</p>
        <p>Begins to copy some sounds</p>
        <p>Turns head towards direction of sound</p>
      </td>
      <td>
        <p>RV</p>
        <p>DTaP</p>
        <p>HiB</p>
        <p>PCV</p>
        <p>IPV</p>
      </td>
    </tr>
  </tbody>
</table>
  </div>
 </div>
</div>
<!-- END OF 3rd BUTTON -->
        </div>
        <div class="col">
                          <!-- 4th Button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">3 to 4 Months</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Age Range</th>
      <th scope="col">Growth</th>
      <th scope="col">Social</th>
      <th scope="col">Communication</th>
      <th scope="col">Cognitive</th>
      <th scope="col">Vaccinations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">3 to 4</th>
      <td>
        <p>Stay awake for longer times during the day</p>
        <p>Sleeps through the night</p>
        <p>Get full head control, no head support is needed now</p>
        <p>Pushes up with the help of arms, when lying on stomach</p>
        <p>Pushes down on legs when feet are touching a firm surface</p>
        <p>May be able to come back to tummy up position from tummy down position on her own</p>
        <p>Turns head in the direction of sound</p>
        <p>Move hands trying to reach the toy</p>
        <p>Can hold, shake and reach the hanging toys</p>
      </td>
      <td>
        <p>Smiles at people</p>
        <p>Playful and active</p>
        <p>Cries when play stops</p>
        <p>Smiles, frowns and laughs when others do so</p>
      </td>
      <td>
        <p>Babbles</p>
        <p>Express joy or anger while babbling</p>
        <p>Copies sounds</p>
        <p>Cries to portray different emotions like hunger, pain, overwhelmed or just bored</p>
      </td>
      <td>
        <p>Can express emotions like joy or sorrow</p>
        <p>Responds to cuddles and kisses</p>
        <p>Tries to reach her favorite toy with hands after seeing it</p>
        <p>Can move the eyes from side to side following the moving objects</p>
        <p>Concentrate on faces</p>
        <p>Recognize familiar people and things at a distance</p>
      </td>
      <td>
        <p>RV</p>
        <p>DTaP</p>
        <p>HiB</p>
        <p>PCV</p>
        <p>IPV</p>
      </td>
    </tr>
  </tbody>
</table>
  </div>
 </div>
</div>
<!-- END OF 4th BUTTON -->
        </div>
        <div class="col">
         <!-- 5th Button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">4 to 6 Months</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Age Range</th>
      <th scope="col">Growth</th>
      <th scope="col">Social</th>
      <th scope="col">Communication</th>
      <th scope="col">Cognitive</th>
      <th scope="col">Vaccinations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">4 to 6</th>
      <td>
        <p>Rolls over in both front to back and back to front directions</p>
        <p>Sits with or without support</p>
        <p>Can support whole weight of body on legs</p>
        <p>Rocks back and forth on stomach</p>
        <p>Reaches parents and toys with one hand</p>
        <p>Passes toys from one hand to another</p>
        <p>Ready to start semi solid food</p>
      </td>
      <td>
        <p>Knows people around in the house and differentiate them from strangers</p>
        <p>Likes to play with parents, siblings and other known people</p>
        <p>Feel happy when people around are happy, observe emotions and reciprocate feelings</p>
        <p>Loves looking self in mirror</p>
      </td>
      <td>
        <p>Give response to sounds made by people</p>
        <p>Joins vowels while babbling and says “ah,” “eh,” “oh”.</p>
        <p>Expresses joy and anger by making sounds</p>
        <p>Responds to parents when they call her name</p>
        <p>May say other alphabetic sounds like “m or b”</p>
      </td>
      <td>
        <p>Looks around at various things in the surroundings</p>
        <p>Explores things and find the partially hidden toys</p>
        <p>Bring things to mouth</p>
        <p>Ready to take semi solids</p>
        <p>Knows the art of passing things from one hand to other</p>
        <p>Tries to get objects out of reach</p>
      </td>
      <td>
        <p>Hepatitis A</p>
      </td>
    </tr>
  </tbody>
</table>
  </div>
 </div>
</div>
<!-- END OF 5th BUTTON -->
        </div>
        <div class="col">
         <!-- 6th Button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">6 to 9 Months</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Age Range</th>
      <th scope="col">Growth</th>
      <th scope="col">Social</th>
      <th scope="col">Communication</th>
      <th scope="col">Cognitive</th>
      <th scope="col">Vaccinations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">6 to 9</th>
      <td>
        <p>Stands holding a table, bed or parent’s hand</p>
        <p>Sits independently without support</p>
        <p>Can move from sleeping position to sitting position without help</p>
        <p>Pulls from sitting to standing position with help</p>
        <p>Goes to crawling position from sitting</p>
        <p>Crawls</p>
        <p>May walk holding the furniture or in walker</p>
        <p>Can play passing the ball</p>
        <p>Can pick up small things between thumb and index fingers</p>
      </td>
      <td>
        <p>May be afraid or uncomfortable in presence of strangers</p>
        <p>May cling to parents and caregivers</p>
        <p>Has favorite toys</p>
        <p>Mimic actions done by others</p>
      </td>
      <td>
        <p>Able to understand simple verbal instructions like “no”</p>
        <p>Joins vowels and consonants together to make different sounds like “mamamama” and “bababababa”</p>
        <p>Imitate sounds and gestures of others</p>
        <p>Point to the toy or things he needs</p>
      </td>
      <td>
        <p>Likes to try different textures of food</p>
        <p>Observes the falling things closely</p>
        <p>Try to find the hidden things</p>
        <p>Plays peek-a-boo</p>
        <p>Can eat on her own using his fingers</p>
        <p>Can point to the correct picture when the image is called by its name</p>
      </td>
      <td>
        <p>Hepatitis A</p>
      </td>
    </tr>
  </tbody>
</table>
  </div>
 </div>
</div>
<!-- END OF 6th BUTTON -->
        </div>
        <div class="col">
         <!-- 7th Button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">9-12 Months</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Age Range</th>
      <th scope="col">Growth</th>
      <th scope="col">Social</th>
      <th scope="col">Communication</th>
      <th scope="col">Cognitive</th>
      <th scope="col">Vaccinations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">9  to 12</th>
      <td>
        <p>Can come to sitting position and keep sitting without help</p>
        <p>Stands holding a table, bed or parent’s hand</p>
        <p>Pulls up to standing position holding something</p>
        <p>Can walk holding the furniture or in walker (cruising along)</p>
        <p>May stand without support</p>
        <p>May take a few steps without support</p>
        <p>Grasp things with thumb and forefinger</p>
      </td>
      <td>
        <p>Express shyness or nervousness in front of strangers</p>
        <p>Cries when parents go away</p>
        <p>Likes certain people and prefer some toys</p>
        <p>Displays fear in presence of strangers</p>
        <p>Attention seeking</p>
        <p>Imitate sounds and actions of others</p>
        <p>Responsive to activities going around</p>
        <p>Plays games with parents and others like “peek-a-boo” and “pat-a-cake”</p>
      <td>
        <p>Understands and respond to simple commands like “Get this” or “Don’t do this”</p>
        <p>Shakes head to say “no” or wave hands to say “bye-bye”</p>
        <p>Calls mama and dada</p>
        <p>Says exclamatory remarks like “uh-oh!”</p>
        <p>Tries to repeat the words</p>
      </td>
      <td>
        <p>Explores toys and things by shaking, banging and throwing</p>
        <p>Can point to the right picture when it is named</p>
        <p>Imitates gestures and sounds</p>
        <p>Able to find hidden things easily</p>
        <p>Can drink from a cup</p>
        <p>Brush hair</p>
        <p>Collide 2 things together</p>
        <p>Drop things in the box and also take things out of the box</p>
        <p>May eat with a spoon</p>
      </td>
      <td>
        <p>Hepatitis A</p>
      </td>
    </tr>
  </tbody>
</table>
  </div>
 </div>
</div>
<!-- END OF 7th BUTTON -->
        </div>
        <div class="col">
          
        </div>
        <div class="col">
          
        </div>
    </div>
</div>

