<div class="comments_box col-12 mt-5"> 
  <%=image_tag "doctor_icon.png", class: "message_icon"%> <span><strong> Dr.<%=comment.user.last_name%></strong></span><br>
  <div class="comments badge-light ">
    <span> <%=comment.text%></span>
  </div>
</div>