<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello <%= @mother.first_name %> You have booked a chatroom from <%= @doctor.first_name %>. Both of you can start talking to each other now!   </h1>
   
  </body>
</html>