<div class="container">
  
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1>Mother's Show Page</h1>

      Hello! <span><%= @mother.first_name%></span> 
      <p>Your Email is: <span><%=@mother.email%></span></p>
      <%=link_to edit_mother_path(@mother) do%> 
        <span>Edit Account</span> 
      <%end%>

      <h2>Here Are Your Babies</h2>
      <%@mother.children.each do |child|%>
        <p><%=child.name%></p>
      <%end%>




      
    </div>
    <div class="col-2"></div>
  </div>
</div>
