<main>
	<div class="container wrapper">
		<div class="row">
			<div class="col-12 text-center">
				<div class="container">
					<div class= "row">
							<div class="col-3 subscribe-box border">
								<form action="braintree/new">
									<div class="margin-top">
										<h5 class="">1 Month Subscription</h5>
										<h3 class="">RM100.00 <span class="font-12"> /month</span></h3>
										<hr>
									</div>
									<input type="hidden" name="type" value="one-month" > 
									<input type="submit" value="Subscribe" class="full-width">
								</form>
							</div>			
						<div class="col-3 subscribe-box border">
							<form action="braintree/new">
								<div class="margin-top">
									<h5 class="">3 Month Subscription</h5>
									<h3 class="">RM100.00 <span class="font-12"> /month</span></h3>
									<hr>
								</div>
								<input type="hidden" name="type" value="three-month" > 
								<input type="submit" value="Subscribe" class="full-width">
							</form>
						</div>						
						<div class="col-3 subscribe-box border">
							<form action="braintree/new">
								<div class="margin-top">
									<h5 class="">6 Month Subscription</h5>
									<h3 class="">RM83.33 <span class="font-12"> /month</span></h3>
									<hr>
								</div>
								<input type="hidden" name="type" value="six-month" > 
								<input type="submit" value="Subscribe" class="full-width">
							</form>
						</div>						
						<div class="col-3 subscribe-box border">
							<form action="braintree/new">
								<div class="margin-top">
									<h5 class="">1 Year Subscription</h5>
									<h3 class="">RM66.67<span class="font-12"> /month</span></h3>
									<hr>
								</div>
								<input type="hidden" name="type" value="one-year" > 
								<input type="submit" value="Subscribe" class="full-width">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
