<main>
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8 text-center">
				<h5> Hurry up and subscribe! You will not regret it!</h5>


				<form action="braintree/new">
					<h3>RM 100</h3>
					<input type="hidden" name="type" value="one-month" > 
					<input type="submit" value="one month" class="full-width">
				</form>

				<form action="braintree/new">
					<h3>RM 300</h3>

					<input type="hidden" name="type" value="three-month" > 
					<input type="submit" value="three months" class="full-width">
				</form>

				<form action="braintree/new">
					<h3>RM 500</h3>

					<input type="hidden" name="type" value="six-month" > 
					<input type="submit" value="six months" class="full-width">
				</form>

				<form action="braintree/new">
					<h3>RM 800</h3>

					<input type="hidden" name="type" value="one-year" > 
					<input type="submit" value="one year" class="full-width">
				</form>				

			</div>
			<div class="col-2"></div>
		</div>
	</div>
</main>
