<h8> Hurry up and subscribe! </h8>
<br/>
<h8> You will not regret it! </h8>

<form action="braintree/new">
	<input type="hidden" name="type" value="monthly" > 
	<input type="submit" Value="monthly">
</form>

<form action="braintree/new">
	<input type="hidden" name="type" value="weekly" > 
	<input type="submit" Value="weekly">
</form>

<form action="braintree/new">
	<input type="hidden" name="type" value="daily" > 
	<input type="submit" Value="daily">
</form>
<!--  <form action="Weekly plan">
	
	<input type="hidden" name:"type" value:"weekly">
	<input type="submit">
</form>

<form action="Daily plan">
	
	<input type="hidden" name:"type" value:"daily">
	<input type="submit">
</form> -->


