<main>
	<div class="container wrapper">
		<div class="row">
			<div class="col-12 text-center">
				<div class="container">
					<div class= "row">
							<div class="col subscribe-box border">
								
								<form action="braintree/new">

									<div class="margin-top">
										<%= image_tag("iconfinder-256-4.png", height: '200em',width: '200em', :alt => "rss feed") %>
										<h5 class="">1 Month Subscription</h5>
										<h3 class="">RM100.00 <span class="font-12"> /month</span></h3>
										<hr>
									</div>
									<input type="hidden" name="type" value="one-month" > 
									<input type="submit" value="Subscribe" class="full-width btn btn-info btn-lg">
								</form>
							</div>			
						<div class="col subscribe-box border">
							
							<form action="braintree/new">
								<div class="margin-top">
									<%= image_tag("iconfinder-256-5.png", height: '200em',width: '200em', :alt => "rss feed") %>
									<h5 class="">3 Month Subscription</h5>
									<h3 class="">RM90 <span class="font-12"> /month</span></h3>
									<hr>
								</div>
								<input type="hidden" name="type" value="three-month" > 
								<input type="submit" value="Subscribe" class="full-width btn btn-info btn-lg">
							</form>
						</div>						
						<div class="col subscribe-box border">
							
							<form action="braintree/new">
								<div class="margin-top">
									<%= image_tag("iconfinder-256-6.png", height: '200em', width: '200em', :alt => "rss feed") %>
									<h5 class="">6 Month Subscription</h5>
									<h3 class="">RM80 <span class="font-12"> /month</span></h3>
									<hr>
								</div>
								<input type="hidden" name="type" value="six-month" > 
								<input type="submit" value="Subscribe" class="full-width btn btn-info btn-lg">
							</form>
						</div>						
						<div class="col subscribe-box border">
							
							<form action="braintree/new">
								<div class="margin-top">
									<%= image_tag("iconfinder-256-7.png", height: '200em',width: '200em', :alt => "rss feed") %>
									<h5 class="">1 Year Subscription</h5>
									<h3 class="">RM66<span class="font-12"> /month</span></h3>
									<hr>
								</div>
								<input type="hidden" name="type" value="one-year" > 
								<input type="submit" value="Subscribe" class="full-width btn btn-info btn-lg">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
