<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello <%= @mother.last_name %> You are now officially subscribed to BaoBaoCare! $<%= @amount %> has been charged to your account. </h1>
   
  </body>
</html>