

@import "bootstrap";
@import "babies";
@import "chatrooms";
@import "comments";
@import "mothers";
@import "welcome";
@import "sign_in";

@import "navbar";

.submit{
    padding:10px 15px;
    border:none;
    background:#007bff;
    margin-top:10px;
    color:white;
    cursor:pointer;
}

.space{
    height:20%;
}