

@import "bootstrap";
@import "babies";
@import "chatrooms";
@import "comments";
@import "mothers";
@import "welcome";
@import "sign_in";
@import "milestones";

@import "navbar";

.doctor_avatar{
    width:250px;
    height:250px;
    overflow:hidden;
    border-radius:50%;

}

.doctor_avatar img{
    width:100%;
}

.wrapper{
    margin-top:100px;
}