// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat_room_image{
    

}


div .b_info{
  text-align: center;
}

#messages-table{
  background-color: #ffffff;
  border-radius: 5% 5% 0 0;
}


#chatroom_search{
  text-align:center;
  margin: 20px auto;
}



#chatroom_search h5{
  margin:20px;
}

.doctor_profile{
  margin: 2em;
}

.mother_profile{
  margin: 2em;
}

.text-box{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.inline-block{
  display: inline-block;
}

