// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat_room_image{
    

}


div .b_info{
  text-align: center;
}

#messages-table{
  background-color: #ffffff;
  border-radius: 5% 5% 0 0;



}