.sidebarwrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 500px;
  max-width: 500px;
  background: #e8e5e5;
  color: #290163;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -500px;
}

#content1 {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
