.sidebarwrapper {
  display: flex;
  align-items: stretch;
  margin-top: 2vh;
}

#sidebar {
  min-width: 100%;
  max-width: 100%;
  color: #290163;
  transition: all 0.3s;
  height: 100vh;

}

#sidebar.active {
  margin-left: -100%;
}

#content1 {
  padding: 20px;
  transition: all 0.3s;
}

.res-avatar{
  width:50%;
  margin: auto;
}