#doctor_details{
  text-align: center;
  margin: auto;
}

.full-width{
  width: 100%;
}

.text-center{
  text-align: center;
}

.doctor_avatar{
    margin: auto;
    width:250px;
    height:250px;
    overflow:hidden;
    border-radius:50%;

}

.doctor_avatar img{
    width:100%;
}

.wrapper{
    margin-top:10em;
}

#map {
  height: 80%;
  width: 100%;
}

.margin-bot{
  margin-bottom: 5em;
}

.doctor_profile{
  text-align: center;
}
