// Place all the styles related to the milestones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table table-striped {
    border: black;
}

.vac_cell{
    font-size: small;
    text-align: center;
    vertical-align: center;
}

.vac_head{
    font-size: medium;
    vertical-align: center;

}

.miles_head{
    font-size: medium;
}

.miles_cell{
    font-size: small;
}


.miles {
    line-height:200px;
    line-width:200px;
    color: white;
    font-size: 20px;
    cursor: pointer;
        background: image-url('milestones.png'); 
    border-radius:50%; 
    height: 100%;  
    }


.vaccs {
    line-height:200px;
    color: white;
    font-size: 20px;
    cursor: pointer;
        background: image-url('vaccine.png'); 
    border-radius:50%; 
    height: 100%;  
    }


.acts {
    line-height:200px;
    color:#fd7e14;
    font-size: 20px;
    cursor: pointer;
    background: image-url('activities.png');     
    border-radius:50%;  
    background-color: green;  
    }

.other {
    line-height:200px;
    color:#fd7e14;
    font-size: 20px;
    cursor: pointer;
    background: image-url('calendar.png');     
    border-radius:50%; 
    background-color: red;   
    }

