// Place all the styles related to the mothers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.children_wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.child_field{
    width:250px;
    display:inline-block;
    text-align:center;
    margin-top:30px;
}

.child_img{
    width:100%;
    height:250px;
    overflow:hidden;
    margin-bottom:10px;
    border-radius:50%;
}
.child_img img{
    width:100%;
}
.child_name{
    font-size:20px;
}

.mother_info{
    font-size:18px;
}
.mother_wrap{
    margin: 5% auto;
    max-width:900px;
    width:90%;
}
.mother_wrap p{
    margin:0;
}

.mother_wrap h1,.mother_wrap h2{
    margin-top:5%;
}

.mother_wrap a{
    color:black;
    
}
.mother_wrap a:hover{
    text-decoration:none;
    color:black;
}

.add_box{
    line-height:250px;
    font-size: 50px;
    cursor: pointer;
    border:1px solid black;
    border-radius:50%;
}

#edit_acc{
    text-decoration:underline;
    font-size:14px;
}