
#container {
	height:70px;
	box-sizing:border-box;
	padding:0 40px;
    background: transparent;
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}


#left, #right{
    display:flex;
    align-items: center;
}

#searchbar {
    padding-left:20px;
}
#header{
    margin-left:50px;
}
#header input{
    background:none;
	font-size: 16px;
	border:none;
 	cursor: pointer;
 	padding:20px;
}
#header a{
    color:white;
}
#header a{
    font-size: 16px;
}
.dropbtn {
	background-color: transparent;
	color: black;
    padding:23px 0;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #17a2b8;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {

}

.wrap{
    width: 300px;
    margin: 20vh auto;
}
.wrapper-lg{
  margin-top: 15em;
}
.wrapper-sm{
  margin-top: 5em;
}

.wrapper-xs{
  margin-top: 4em;
}
.sign-in-btn{
    margin-top:10px;
}
.other-links{
    margin-top:10px;
}
.other-links a{
  margin-right:10px;
}


.img-nav {
  height: 50px;
  width: 50px;
}

#flash{
  position: relative;
}



.navbar{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 5;
  background-color: #360086;
  opacity: 0.8;

}
#flash{
  position:relative;
  top: 4.6em
}

body{
  background-color: #f1f1f1;
}

