// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#bgheader {
  background: image-url('pattern.png');
  height:100%;
  width:100%;
}

.form {
	vertical-align: middle;
}

main{
  margin-top: 5em;

}

.full-screen-1{
  height: 120vh;
  background-color: #360086;
  color: #FFFFFF;

  margin: 0;
}

.full-screen-2{
  height: 120vh;
  background-color: #FFFFFF;
  color: #000000;

  margin: 0;
}

.footer-1{
  height: 25vh;
  background-color: #000000;
  margin: 0;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.margin-top{
  margin-top: 2em;
}

.margin-top-50{
  margin-top: 50vh;
}

.margin-top-30{
  margin-top: 30vh;
}

